
@model Appmarket3.Data.Entities.City

@{
    ViewData["Title"] = "Add City";
}



<h4>Creando...</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdDepartment" />

            <partial name="_City" />

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="DetailsDepartment" asp-route-id="@Model.IdDepartment" class="btn btn-success">Cancelar</a>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <img src="~/images/Ciudad.png" height="150" width="150" />
    </div>
</div>
<hr />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


