
@model Appmarket3.Data.Entities.Department

@{
    ViewData["Title"] = "Add Department";
}



<h4>Creando...</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDepartment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCountry" />

            <partial name="_Department" />

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.IdCountry" class="btn btn-success">Cancelar</a>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <img src="~/images/depto.png" height="150" width="150" />
    </div>
</div>

<hr />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


