@model Appmarket3.Data.Entities.Country

@{
    ViewData["Title"] = "Edit";
}



<h4>Editando...</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class=" btn btn-success">Cancelar</a>
            </div>
        </form>
    </div>
    <div class ="col-md-8">
        <img src ="~/images/pais.png" height="150" width="150" />       
    </div>        
</div>
<hr />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
